.dashboard-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #8c5bd041;

    .fitness-activity-dash {
        width: 20%;
        height: 100%;
        background-color: #ffffff;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;

        .fit-activity {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 20px;
            padding: 15px;

            .headingText {
                p {
                    font-size: 40px;
                    font-weight: 500;
                    color: #b75da4;
                }
            }

            .list-activity {
                display: flex;
                align-items: start;
                flex-direction: column;

                .imgWrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;
                    .activityImg {
                        height: 40px;
                        width: 40px;
                        margin-right: 15px;
                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: 30px;
                        }
                    }
                    p {
                        color: #b75da4;
                        font-size: 20px;
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }
        }
    }

    .userData {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        height: 90%;
        position: absolute;
        top: 20px;
        right: 20px;
        .userProfile {
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            height: 40px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 10px;

            .userInfo-wrapper {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 18px;
                    color: #b75da4;
                    padding-left: 20px;
                    margin: 0;
                }

                .userName {
                    font-size: 20px;
                    font-weight: 600;
                }

                .userEmail {
                    font-size: 15px;
                }
            }
        }

        .userInfo-main {
            width: 100%;
            background-color: #ffffff;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;

            .userInfo {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                color: #b75da4;

                p {
                    margin: 0;
                }

                .Info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 10px;
                    padding-right: 30px;
                    border-right: 1px solid #b75da4;

                    &:last-child {
                        padding-right: 0;
                        border-right: none;
                    }

                    .key {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                }
            }

            .averageData {
                width: 100%;
                .averageInfo {
                    max-width: calc(100% - 20px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #b75da4;
                    font-size: 18px;
                    background-color: #c0eef973;
                    margin: 20px 0;
                    padding: 10px;
                    border-radius: 10px;

                    .Data {
                        font-size: 20px;
                        font-weight: 600;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    .About {
        width: 50%;
        height: 100%;
        color: #b75da4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 20px;

        .activity-img {
            width: 100%;
            height: 290px;
            background: url(../../../assets/images/singleA.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.main-wrapper {
    width: 100%;
    height: 100%;

    background-color: rgb(33 150 243 / 7%);
    .Activity-title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin: 0 0 30px 0;
    }

    .activity-details {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .activity {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 15px;
            margin-left: 20px;

            .activity-section {
                display: flex;
                flex-wrap: wrap;
                .activities-wrapper {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 11vw;
                    background-color: #ae5db770;
                    color: #000000;
                    margin: 10px 10px 10px 0px;
                    border-radius: 10px;

                    .activityTitle {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                .activities-wrapper-A {
                    width: 300px;
                    height: 100px;
                    background-color: #b75da4;
                    color: #8c8c8c;
                    border-radius: 10px;
                    padding: 10px;

                    .title-A {
                        font-size: 20px;
                        font-weight: 600;
                        text-align: center;
                    }

                    .activities-sub-wrapper {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        margin: 10px;
                        .average {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                p {
                    margin: 0;
                }
            }
        }

        .chart {
            width: 50%;
            height: 465px;
            display: flex;
            justify-content: center;
            align-items: center;
            canvas {
                max-width: 650px;
                background-color: #ffffff;
                border-radius: 10px;
            }
        }
    }
}
.closeBtn {
    width: 100%;
    max-width: 30px;
    height: 30px;
    float: right;
    img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}
