.dashboard-wrapper {
    display: flex;
    align-items: center;
    background-color: #8c5bd041;

    .fitness-activity-dash {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        max-width: 95%;
        max-height: 90%;
        background-color: #ffffff5c;
        margin: auto;
        border-radius: 30px;

        .fit-activity {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40%;
            height: 100%;
            border-radius: 20px;
            padding: 10px;

            p {
                font-size: 40px;
                font-weight: 500;
                color: #6c32c6;
                margin: 0;
            }
            .activity-img {
                width: 100%;
                height: 400px;
                background: url(../../../assets/images/singleA.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .list-activity {
            width: 60%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;

            .activity-name {
                width: 200px;
                height: 150px;
                background-color: #f54da7;
                color: #ffffff;
                font-size: 25px;
                font-weight: 400;
                border-radius: 10px;
                margin: 10px;
                border: none;
            }
        }
    }
}
